<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'images/css/styles.css' %}">
<head>
    <link rel="stylesheet" href="{% static 'static/images/calmcandlesbackground.jpg'%}">
</head>
    <title>Candle Business</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'our_story' %}">Our Story</a></li>
                <li><a href="{% url 'our_blog' %}">Our Blog</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'shipping' %}">Shipping Info</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
